#OS junk files
[Tt]humbs.db
*.DS_Store

# Eclipse Files
.project
.classpath
.settings/

# Maven Files
target/
#exclude all under bin
bin/*
#but  alow under content/test-project/bin
!content/test-project/bin

# IntelliJ Files
*.iml
.idea/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

